<!doctype html>
<html lang="en">
<head>
    <title>Metrics</title>
    <meta http-equiv="refresh" content="10"/>
</head>
<body>
<h2>Gauge Metrics</h2>
{{ $gaugeMetrics := .GaugeMetrics }}
<ol>
    {{ range $key, $value := $gaugeMetrics }}
        <li>
            <b>{{ $key }}</b>: {{ $value }}
        </li>
    {{ end }}
</ol>

<h2>Counter Metrics</h2>
{{ $counterMetrics := .CounterMetrics }}
<ol>
    {{ range $key, $value := $counterMetrics }}
        <li>
            <b>{{ $key }}</b>: {{ $value }}
        </li>
    {{ end }}
</ol>
</body>
</html>